<div class="uppercase tracking-wide bg-green-50 no-underline  font-bold text-gray-800 text-xl text-center ">
    Your Jobs
</div>
{{#each yourJobs as |job|}}
<section class="w-full h-80 flex justify-center items-center bg-green-50">

    <div
        class="bg-white p-2 w-80 max-w-6xl sm:w-full sm:p-4 h-auto sm:h-64 rounded-2xl shadow-lg flex flex-col sm:flex-row gap-5 select-none">
        <div style='background: url("https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")'
            class="h-52 sm:h-full sm:w-72 rounded-xl bg-gray-100 bg-center bg-cover"></div>
        <p class="jobId hidden">{{job.id}}</p>
        <div class="flex sm:flex-1 flex-col gap-2 p-1 ">
            <h1 class="text-center text-lg sm:text-xl font-semibold  text-gray-600">
                Job: {{job.job_name}}
            </h1>
            <h1 class="text-lg sm:text-xl font-semibold  text-gray-600">
                Price: ${{job.job_price}}
            </h1>
            <div class="text-lg sm:text-sm font-semibold  text-gray-600 ">
                Contact: {{job.user.first_name}} {{job.user.last_name}}
                <a href="mailto:" {{job.user.email}}>
                    <p class="useremail">{{job.user.email}} </p>
                </a>
            </div>
            <div class="flex py-4  text-sm text-gray-600">
                <div class="flex-1 inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                        </path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>
                    <p class="">{{job.job_location}}</p>
                </div>
                <div class="flex-1 inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <p class="">{{format_date job.date}}</p>
                </div>
            </div>

            <p class="text-gray-500 text-sm sm:text-base line-clamp-3">
                Description: <br>
                {{job.job_descr}}
            </p>

            <button
                class='deletejob ml-auto bg-red-400 flex items-center gap-1 text-gray sm:text-lg border border-gray-300 px-3 py-1 rounded-full hover:bg-gray-50 transition-colors focus:bg-gray-100 focus:outline-none focus-visible:border-gray-500'>
                <span>Delete Job</span>
            </button>
            
        </div>
    </div>
</section>
{{/each}}

<script src="../../js/deleteJob.js"></script>